* {
    margin:0px;
    padding: 0px;
}


#login {
    text-align: center;
    background-color:#F8F8F8;
}

#login .p1{
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    font-weight: bold;
    margin-top: 6%;
}

#login .btn-goggle {
    width: 350px;
    height: 40px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 3%;
}

#login .btn-goggle img {
    width: 25px;
    margin-right: 2%;
}

#login .p2{
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    margin-top: 2%;
}

#login input{    
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    width: 350px;
    height: 40px;
    background: #FFFFFF;
    border: none;
    outline: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


#login input[type=text]{ 
    margin-top: 0.5%;
    padding: 15px;
}

#login input[type=password]{ 
    margin-top: 1%;
    padding: 15px;
}

#login .forgot{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 1%;
}

#login .forgot a{
    color: #FEBE10;
}

#login input[type=submit]{ 
    color: black;
    background: #FEBE10;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: bold;
    position: relative;
    font-size: 14px;
    top: -10px;
}

#login .register {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 2%;
}


#login .register a{
    color: #FEBE10;
}

#register {
    text-align: center;
    background-color:#F8F8F8;
}


#register .p1{
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight: bold;
    margin-top: 3.5%;
    margin-bottom: 1%;
}

#register input{    
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    width: 340px;
    height: 35px;
    background: #FFFFFF;
    border: none;
    outline: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#register input[type=text], input[type=email]{ 
    margin-top: 1%;
    padding: 15px;
}

#register input[type=password]{ 
    margin-top: 1%;
    padding: 15px;
}

#register .forgot{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 1%;
}

#register .forgot a{
    color: #FEBE10;
}

#register input[type=submit]{ 
    color: black;
    background: #FEBE10;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: bold;
    position: relative;
    font-size: 14px;
    margin-top: 2%;
}

#register .daftar {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 1%;
}


#register .daftar a{
    color: #FEBE10;
}

#register .btn-goggle {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    width: 340px;
    height: 35px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 1%;
}

#register .btn-goggle img {
    width: 25px;
    margin-right: 2%;
}

#register .p2{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    margin-top: 1.5%;
}

#register .back {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    margin-right: 24%;
    position: relative;
    top: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

#register .back b {
    font-weight: none;
    font-size: 13px;
    margin-left: 0.5%;
}


#daftar {
    text-align: center;
    background-color:#F8F8F8;
}

#daftar h2{
    margin-top : 3%;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

#daftar .back {
    font-weight: bold;
    font-size: 14px;
    margin-right: 32%;
    position: relative;
    padding-top: 1rem;
    font-family: 'Poppins', sans-serif;
}

#daftar .back a{
    text-decoration: none;
    color: #000000;
}

#daftar .back b {
    font-weight: none;
    font-size: 13px;
    margin-left: 0.5%;
    padding-top: 1rem;
}

#daftar .pengurus {
    width:12.5rem;
    height: 11.5rem;
    border: none;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#daftar .pengurus p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}


#daftar .siswa {
    width:12.5rem;
    height: 11.5rem;
    border: none;
    margin-left: 1.2rem;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#daftar .siswa p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

#daftar .p1{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    margin-top: -1rem;
}

#daftar .p2{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 5%;
}

#daftar .p2 a{
    color: #FEBE10;
}

#daftar hr{
    width: 38%;
    margin-left: 31%;
}

#daftar .p3{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 2%;
}

#daftar .p3 a{
    color: #FEBE10;
}

#daftar2 {
    text-align: center;
    background-color:#F8F8F8;
}

#daftar2 .indikator {
    display: flex;
    width: 100%;
    padding-left: 35%;
    position: relative;
    margin-top: 3%;
}

#daftar2 .indikator .elips {
    width: 35px;
    height: 35px;
    font-weight: bold;
    padding:9px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    background: #FEBE10;
}

#daftar2 .indikator .verified {
    font-family: 'Poppins', sans-serif;
    margin-top: 10%;
    font-size: 12px;
    padding-left: 2px;
    color: #FEBE10;
}

#daftar2 .indikator .none {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding-left: 2px;
    margin-top: 10%;
    color: black;
}

#daftar2 .indikator .elips1 {
    width: 35px;
    height: 35px;
    font-weight: bold; 
    font-size: 12px;
    padding:9px;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    background: #C4C4C4;
    color: #949494;
}

#daftar2 hr {
    width: 14%;
    margin-top: 14px;
    background-color: #C4C4C4;;
    border: 3px solid #C4C4C4;
}

#daftar2 .p1{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    font-weight: bold;
    margin-top: 1%;
}

#daftar2 .btn-goggle {
    width: 300px;
    height: 33px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

#daftar2 .p2{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    margin-top: 1.5%;
    margin-bottom: 5px;
}

#daftar2 .btn-goggle img {
    width: 22px;
    margin-right: 2%;
}

#daftar2 input{    
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    width: 300px;
    height: 30px;
    background: #FFFFFF;
    border: none;
    outline: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#daftar2 input[type=text], input[type=email]{ 
    margin-top: 1%;
    padding: 15px;
}

#daftar2 input[type=password]{ 
    margin-top: 1%;
    padding: 15px;
}

#daftar2 input[type=submit]{ 
    color: black;
    background: #FEBE10;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: bold;
    position: relative;
    font-size: 12px;
    margin-top: 4%;
}

#daftar2 .register {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 1%;
}


#daftar2 .register a{
    color: #FEBE10;
}

#daftar2 .p3{
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    margin-top: 1.5%;
    margin-bottom: 5px;
    font-weight: bold;
}

#daftar2 .p5{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: justify;
    margin-top: 1%;
    margin-left: 33%;
}

#daftar2 .p5 a{
    color: #FEBE10;
}

#daftar2 .p6{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: justify;
    margin-top: 3%;
    margin-left: 33%;
}

#daftar2 .p6 a{
    color: #FEBE10;
}

#daftar2 .input2{    
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-left: 3%;
    width: 410px;
    height: 35px;
    background: #FFFFFF;
    border: none;
    outline: none;
    margin-top: -1%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#daftar2 .button{
    display: flex; 
    margin-left: 33.5%;
}

#daftar2 .button .kirim{
    background-color: #C4C4C4; 
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2%;
    width: 26%;
    margin-left: 3%;
    height: 40px;
}

#daftar2 .button .batal{ 
    background-color : #F72424;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    position: relative;
    font-weight: bold;
    font-size: 12px;
    margin-top: 2%;
    width: 26%;
    height: 40px;
}

#daftar2 .next{ 
    color: black;
    background: #FEBE10;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 2%;
    margin-left: 1%;
    width: 35%;
    height: 40px;
}