* {
    margin:0px;
    padding: 0px;
}


#login {
    text-align: center;
    background-color:#F8F8F8;
}

#login .p1{
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    font-weight: bold;
    margin-top: 6%;
}

#login .btn-goggle {
    width: 350px;
    height: 40px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 3%;
}

#login .btn-goggle img {
    width: 25px;
    margin-right: 2%;
}

#login .p2{
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    margin-top: 2%;
}

#login input{    
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    width: 350px;
    height: 40px;
    background: #FFFFFF;
    border: none;
    outline: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


#login input[type=text]{ 
    margin-top: 0.5%;
    padding: 15px;
}

#login input[type=password]{ 
    margin-top: 1%;
    padding: 15px;
}

#login .forgot{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 1%;
}

#login .forgot a{
    color: #FEBE10;
}

#login input[type=submit]{ 
    color: black;
    background: #FEBE10;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: bold;
    position: relative;
    font-size: 14px;
    top: -10px;
}

#login .register {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 2%;
}


#login .register a{
    color: #FEBE10;
}

#register {
    text-align: center;
    background-color:#F8F8F8;
}


#register .p1{
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight: bold;
    margin-top: 3.5%;
    margin-bottom: 1%;
}

#register input{    
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    width: 340px;
    height: 35px;
    background: #FFFFFF;
    border: none;
    outline: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#register input[type=text], input[type=email]{ 
    margin-top: 1%;
    padding: 15px;
}

#register input[type=password]{ 
    margin-top: 1%;
    padding: 15px;
}

#register .forgot{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 1%;
}

#register .forgot a{
    color: #FEBE10;
}

#register input[type=submit]{ 
    color: black;
    background: #FEBE10;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: bold;
    position: relative;
    font-size: 14px;
    margin-top: 2%;
}

#register .daftar {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 1%;
}


#register .daftar a{
    color: #FEBE10;
}

#register .btn-goggle {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    width: 340px;
    height: 35px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 1%;
}

#register .btn-goggle img {
    width: 25px;
    margin-right: 2%;
}

#register .p2{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    margin-top: 1.5%;
}

#register .back {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    margin-right: 24%;
    position: relative;
    top: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

#register .back b {
    font-weight: none;
    font-size: 13px;
    margin-left: 0.5%;
}


#daftar {
    text-align: center;
    background-color:#F8F8F8;
}

#daftar h2{
    margin-top : 3%;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

#daftar .back {
    font-weight: bold;
    font-size: 14px;
    margin-right: 32%;
    position: relative;
    padding-top: 1rem;
    font-family: 'Poppins', sans-serif;
}

#daftar .back a{
    text-decoration: none;
    color: #000000;
}

#daftar .back b {
    font-weight: none;
    font-size: 13px;
    margin-left: 0.5%;
    padding-top: 1rem;
}

#daftar .pengurus {
    width:12.5rem;
    height: 11.5rem;
    border: none;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#daftar .pengurus p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}


#daftar .siswa {
    width:12.5rem;
    height: 11.5rem;
    border: none;
    margin-left: 1.2rem;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#daftar .siswa p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

#daftar .p1{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    margin-top: -1rem;
}

#daftar .p2{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 5%;
}

#daftar .p2 a{
    color: #FEBE10;
}

#daftar hr{
    width: 38%;
    margin-left: 31%;
}

#daftar .p3{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 2%;
}

#daftar .p3 a{
    color: #FEBE10;
}

#daftar2 {
    text-align: center;
    background-color:#F8F8F8;
}

#daftar2 .indikator {
    display: flex;
    width: 100%;
    padding-left: 35%;
    position: relative;
    margin-top: 3%;
}

#daftar2 .indikator .elips {
    width: 35px;
    height: 35px;
    font-weight: bold;
    padding:9px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    background: #FEBE10;
}

#daftar2 .indikator .verified {
    font-family: 'Poppins', sans-serif;
    margin-top: 10%;
    font-size: 12px;
    padding-left: 2px;
    color: #FEBE10;
}

#daftar2 .indikator .none {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding-left: 2px;
    margin-top: 10%;
    color: black;
}

#daftar2 .indikator .elips1 {
    width: 35px;
    height: 35px;
    font-weight: bold; 
    font-size: 12px;
    padding:9px;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    background: #C4C4C4;
    color: #949494;
}

#daftar2 hr {
    width: 14%;
    margin-top: 14px;
    background-color: #C4C4C4;;
    border: 3px solid #C4C4C4;
}

#daftar2 .p1{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    font-weight: bold;
    margin-top: 1%;
}

#daftar2 .btn-goggle {
    width: 300px;
    height: 33px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

#daftar2 .p2{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    margin-top: 1.5%;
    margin-bottom: 5px;
}

#daftar2 .btn-goggle img {
    width: 22px;
    margin-right: 2%;
}

#daftar2 input{    
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    width: 300px;
    height: 30px;
    background: #FFFFFF;
    border: none;
    outline: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#daftar2 input[type=text], input[type=email]{ 
    margin-top: 1%;
    padding: 15px;
}

#daftar2 input[type=password]{ 
    margin-top: 1%;
    padding: 15px;
}

#daftar2 input[type=submit]{ 
    color: black;
    background: #FEBE10;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: bold;
    position: relative;
    font-size: 12px;
    margin-top: 4%;
}

#daftar2 .register {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 1%;
}


#daftar2 .register a{
    color: #FEBE10;
}

#daftar2 .p3{
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    margin-top: 1.5%;
    margin-bottom: 5px;
    font-weight: bold;
}

#daftar2 .p5{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: justify;
    margin-top: 1%;
    margin-left: 33%;
}

#daftar2 .p5 a{
    color: #FEBE10;
}

#daftar2 .p6{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: justify;
    margin-top: 3%;
    margin-left: 33%;
}

#daftar2 .p6 a{
    color: #FEBE10;
}

#daftar2 .input2{    
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-left: 3%;
    width: 410px;
    height: 35px;
    background: #FFFFFF;
    border: none;
    outline: none;
    margin-top: -1%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#daftar2 .button{
    display: flex; 
    margin-left: 33.5%;
}

#daftar2 .button .kirim{
    background-color: #C4C4C4; 
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2%;
    width: 26%;
    margin-left: 3%;
    height: 40px;
}

#daftar2 .button .batal{ 
    background-color : #F72424;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    position: relative;
    font-weight: bold;
    font-size: 12px;
    margin-top: 2%;
    width: 26%;
    height: 40px;
}

#daftar2 .next{ 
    color: black;
    background: #FEBE10;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 2%;
    margin-left: 1%;
    width: 35%;
    height: 40px;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    position: fixed;
    background: #F8F8F8;
    border: 1px solid rgba(170, 170, 170, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
    transition: all 0.5s ease;
  }
  .sidebar.close{
    width: 80px;
  }
  .sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .sidebar .logo-details i{
    font-size: 30px;
    color: #000000;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
  }
  
  .sidebar .profil-box {
    display: flex;
    padding-top: 30px;
  }
  
  .sidebar .profil-box img {
    width: 4.5rem;
    height: 4.8rem;
    margin-right: 10px;
    margin-left: 25px;
    border-radius: 80px;
  }
  
  .sidebar .profil-box .profil-name {
    padding-top: 20px;
  }
  
  .sidebar .profil-box .profil-name .nama {
    font-size: 14px;
  }
  
  .sidebar .profil-box .profil-name .level {
    font-size: 12px;
    position: relative;
    top: -1rem;
  }
  
  .sidebar .logo-details .logo_name{
    font-size: 22px;
    color: #000000;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
  }
  .sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links{
    height: 100%;
    padding: 10px 0 150px 0;
    overflow: auto;
  }
  .sidebar.close .nav-links{
    overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar{
    display: none;
  }
  .sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links .active{
    background: #FEBE10;
    width: 90%;
    margin-left: 15px;
    border-radius: 10px 10px 10px 10px;
  }
  
  .sidebar .nav-links .active a{
    position: relative;
    left: -15px;
  }
  
  .sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar.close .nav-links li .iocn-link{
    display: block
  }
  .sidebar .nav-links li i{
    height: 50px;
    margin-left: 30px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sidebar .nav-links li a .link_name{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    transition: all 0.4s ease;
  }
  .sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
  }
  
  .sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #f8f8f8;
    display: none;
  }
  .sidebar .nav-links li.showMenu .sub-menu{
    display: block;
  }
  .sidebar .nav-links li .sub-menu a{
    color: #000000;
    font-size: 14px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
  }
  .sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li .sub-menu .link_name{
    display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
  }
  .sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar .profil-box .profil-image {
    width: 30%;
  }
  .sidebar.close .nav-links .active{
    background: #FEBE10;
    width: 65%;
    border-radius: 10px 10px 10px 10px;
  }
  
  .sidebar.close .profil-box .profil-name {
    display: none;
  }
  
  .sidebar.close .profil-box img {
    width:3.5rem;
    height: 3.5rem;
    margin-bottom: 2rem;
    margin-left: 15px;
  }
  .sidebar .profile-details .profile_name,
  .sidebar .profile-details .job{
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
  }
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job{
    display: none;
  }
  .sidebar .profile-details .job{
    font-size: 12px;
  }
  .home-section{
    position: relative;
    background: #f8f8f8;
    height: 100%;
    left: 260px;
    padding-bottom: 3px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
  .home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
  }
  .home-section .home-content .bx-menu,
  .home-section .home-content .text{
    color: #000000;
    font-size: 35px;
  }
  .home-section .home-content .bx-menu{
    margin: 0 15px;
    cursor: pointer;
  }
  .home-section .home-content .text{
    font-size: 20px;
    padding-top: 5px;
    font-weight: 600;
  }

  .home-section .dashboard {
    margin-left: 3%;
  }

  .home-section .dashboard .box1{
    width: 55%;
    height: 40vh;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .home-section .dashboard .box-saldo{
    width: 100%;
    height: 18vh;
    margin-left: 2rem;
    display: flex;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .home-section .dashboard .box-kelas{
    width:  100%;
    height: 18vh;
    display: flex;
    font-display: flex;
    margin-left: 2rem;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .home-section .dashboard .box-saldo .text {
    display: block;
    margin-left:3%;
    margin-top:2%;
  }

  .home-section .dashboard .box-saldo .text .kelas{
    font-size: 12px;
    margin-top: -20px;
    font-family: 'Poppins';
  }

  .home-section .dashboard .box-saldo .text .judul{font-size: 15px; padding-top: 5px; font-family: 'Poppins'; font-weight: bold;}
   .home-section .dashboard .box-saldo .text .saldo{color: #156900; font-size:14px; margin-top:-10px; font-weight: bold; font-family: 'Poppins';}
  
  .home-section .dashboard .box-kelas .text {
    display: block;
    margin-left:3%;
    margin-top:2%;
    width: 100%;
  }

  .home-section .dashboard .box-kelas .text .judul{font-size: 15px; padding-top: 5px; font-family: 'Poppins'; font-weight: bold;}
  .home-section .dashboard .box-kelas .text .kelas{
    font-size: 12px;
    margin-top: -20px;
    font-family: 'Poppins';
  }
  .home-section .dashboard .box-kelas .text hr{padding-left: 1rem; width: 95%; top: -5px; position: relative;}
  .home-section .dashboard .box-kelas .text button{top: -18px; border: none; background: #FFFFFF; position: relative; font-size: 14px;}

  .home-section .dashboard .color-box{
    height: 103%;
    width: 5%;
    margin-left: -2px;
    margin-top: -2px;;
    border-radius: 10px 0px 0px 10px;
  }

  .home-section .dashboard .box2{
    width: 55%;
    height: 40vh;
    position: relative;
    margin-top: 3vh;
    margin-bottom: 4vh;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .home-section .dashboard .box-calender{
    width: 25%;
    height: 30vh;
    margin-left: 2rem;
    margin-top: 1rem;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .home-section .setting {
    width: 7vh;
    height: 7vh;
    margin-left: 2%;
    margin-top: 2%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  
  .home-section .notif {
    width: 7vh;
    height: 7vh;
    margin-left: 80%;
    margin-top: 2%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  @media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu{
      display: none;
    }
  }
  